In [1]:
import numpy as np

In [2]:
# Criando nova coluna
# paises['extensao_em_milhoes'] = paises['extensao'] * 100_000
# paises

In [3]:
# Exemplo 2

# flags dataset

import pandas as pd

flags = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data', header=None)
flags.columns = ["name", "landmass", "zone", "area", "population", "language", "religion", "bars", "stripes", "colours", "red",
                "green", "blue", "gold", "white", "black","orange", "minhue", "circles", "crosses", "saltires", "quarters",
                "sunstars", "crescent", "triangle", "icon", "animate", "text", "topleft", "botright"]

v = (flags['landmass']==6) # gera uma series com elementos booleanos
flags_oceania = flags[v] # retornar só o que é true

# imprime os países da oceania
flags_oceania

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
10,Australia,6,2,7690,15,1,1,0,0,3,...,1,1,6,0,0,0,0,0,white,blue
41,Cook-Islands,6,3,0,0,1,1,0,0,4,...,1,1,15,0,0,0,0,0,white,blue
57,Fiji,6,2,18,1,1,1,0,0,7,...,1,1,0,0,0,1,1,0,white,blue
61,French-Polynesia,6,3,4,0,3,0,0,3,5,...,0,0,1,0,0,1,0,0,red,red
71,Guam,6,1,0,0,1,1,0,0,7,...,0,0,0,0,0,1,1,1,red,red
82,Indonesia,6,2,1904,157,10,2,0,2,2,...,0,0,0,0,0,0,0,0,red,white
94,Kiribati,6,1,0,0,1,1,0,0,4,...,0,0,1,0,0,1,1,0,red,blue
109,Marianas,6,1,0,0,10,1,0,0,3,...,0,0,1,0,0,1,0,0,blue,blue
113,Micronesia,6,1,1,0,10,1,0,0,2,...,0,0,4,0,0,0,0,0,blue,blue
119,Nauru,6,2,0,0,10,1,0,3,3,...,0,0,1,0,0,0,0,0,blue,blue
123,New-Zealand,6,2,268,2,1,1,0,0,3,...,1,1,4,0,0,0,0,0,white,blue
127,Niue,6,3,0,0,1,1,0,0,4,...,1,1,5,0,0,0,0,0,white,gold
134,Papua-New-Guinea,6,2,463,3,1,5,0,0,4,...,0,0,5,0,1,0,1,0,red,black
137,Philippines,6,1,300,48,10,0,0,0,4,...,0,0,4,0,1,0,0,0,blue,red
151,Soloman-Islands,6,2,30,0,1,1,0,0,4,...,0,0,5,0,1,0,0,0,blue,green
172,Tonga,6,2,1,0,10,1,0,0,2,...,0,1,0,0,0,0,0,0,white,red
177,Tuvalu,6,2,0,0,1,1,0,0,5,...,1,1,9,0,0,0,0,0,white,blue
185,Vanuatu,6,2,15,0,6,1,0,0,4,...,0,0,0,0,1,0,1,0,black,green
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red

In [4]:
### Seleção

# Seleciona apenas as linhas dos países da oceania com área acima de 200 mil quilometros quadrados
v =(flags['landmass'] ==6) & (flags['area'] > 200)
df = flags[v]
# Projeta apenas as colunas "name", "colours", "language", "landmass" e "area"
df = df[['name', 'colours', 'language', 'landmass', 'area']]

# reseta os índices
df = df.reset_index(drop=True)

df

               name  colours  language  landmass  area
0         Australia        3         1         6  7690
1         Indonesia        2        10         6  1904
2       New-Zealand        3         1         6   268
3  Papua-New-Guinea        4         1         6   463
4       Philippines        4        10         6   300

In [5]:
# Formatando valores com funções

def maisculo(valor):
    return valor.upper()

flags['name'] = flags['name'].apply(maisculo)
    
flags

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,AFGHANISTAN,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,ALBANIA,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,ALGERIA,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,AMERICAN-SAMOA,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,ANDORRA,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,WESTERN-SAMOA,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,YUGOSLAVIA,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,ZAIRE,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,ZAMBIA,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,ZIMBABWE,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [6]:
## Parte 3 - Limpeza de dados ##

df = pd.DataFrame(dict(age=[5,6, np.NaN],
                      born = [pd.NaT, pd.Timestamp('1939-05-27'),
                             pd.Timestamp('1940-04-25')],
                      name=['Alfred', 'Batman', ''],
                      toy=[None, 'Batmobile', 'Joker']))

print(df.notna())
# podemos preencher com #fillna
df.dropna()

     age   born  name    toy
0   True  False  True  False
1   True   True  True   True
2  False   True  True   True

   age       born    name        toy
1  6.0 1939-05-27  Batman  Batmobile

In [7]:
df = pd.DataFrame({'A': [0,1,2,3,4],
                  'B': [5,6,7,8,9],
                  'C': ['a', 'b', 'c', 'd', 'e']})

df.replace(0,5)

   A  B  C
0  5  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e